<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bag</title>
</head>

<body>
        <table>
            <tbody>
            <thead>
            <th>Shop name</th>
            <th>Product name</th>
            <th>Description</th>
            <th>Price</th>
            </thead>
            <tr th:each="product: ${products}">
                <td th:text="${product.getSeller()}"></td>
                <td th:text="${product.getName()}"></td>
                <td th:text="${product.getDescription()}"></td>
                <td th:text="${product.getPrice()}"></td>
            </tr>
        </table>
</body>

</html>

