<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>login_customer</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Bootstrap eCommerce Template">
    <meta name="author" content="SW-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" th:href="@{/images/icons/favicon.ico}">


    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ['Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700'] }
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = '/assets/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!-- Main CSS File -->
    <link rel="stylesheet" th:href="@{/css/style.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/fontawesome-free/css/all.min.css}">
</head>


<body>
    <div class="page-wrapper">
        <!-- Top Notice of Page (En yuxarida balaca header) -->
        <div class="top-notice bg-primary">
            <div class="owl-carousel info-boxes-slider" data-owl-options="{
				'items': 1,
				'dots': false,
				'loop': false,
				'responsive': {
					'768': {
						'items': 2
					},
					'992': {
						'items': 3
					}
				}
			}">
                <div class="info-box info-box-icon-left">
                    <i class="icon-shipping"></i>

                    <div class="info-box-content">
                        <h4>99 AZN Yuxarı Çatdırılma Pulsuz</h4>
                    </div><!-- End .info-box-content -->
                </div><!-- End .info-box -->

                <div class="info-box info-box-icon-left">
                    <i class="icon-money"></i>

                    <div class="info-box-content">
                        <h4>LinkUP</h4>
                        <!--            <h4>Up to 40% OFF on Selected Items</h4>-->
                    </div><!-- End .info-box-content -->
                </div><!-- End .info-box -->

                <div class="info-box info-box-icon-left">
                    <i class="icon-secure-payment"></i>

                    <div class="info-box-content">
                        <h4>100% Güvənli Ödəniş</h4>
                    </div><!-- End .info-box-content -->
                </div><!-- End .info-box -->
            </div><!-- End .owl-carousel -->


        </div>
        <!-- END Top Notice of Page (En yuxarida balaca header) -->

        <!-- Header -->
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left d-none d-sm-block">
                        
                    </div><!-- End .header-left -->

                    <div class="header-right w-sm-100">
                        <div class="header-dropdown dropdown-expanded mr-auto mr-sm-3">
                            <a href="#">Links</a>
                            <div class="header-menu">
                                <ul>
                                    <li><a href="/login_customer">Giriş </a></li>
                                    <li><a href="about.html">Haqqımızda</a></li>
                                    <li><a href="category.html">Mağazalarımız</a></li>
                                    <li><a href="blog.html">Bloq</a></li>
                                    <li><a href="contact.html">Əlaqə</a></li>
                                    <li><a href="#">Yardım &amp; FAQs</a></li>
                                </ul>
                            </div><!-- End .header-menu -->
                        </div><!-- End .header-dropown -->

                        <span class="separator"></span>

                        <div class="social-icons">
                            <a href="#" class="social-icon social-instagram icon-instagram" target="_blank"></a>
                            <a href="#" class="social-icon social-twitter icon-twitter" target="_blank"></a>
                            <a href="#" class="social-icon social-facebook icon-facebook" target="_blank"></a>
                        </div><!-- End .social-icons -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-mobile-merge">
                <div class="header-middle header-align-center">
                    <div class="container">
                        <div class="header-left d-none d-lg-block">
                            <div class="header-dropdowns font2">

                                <!--                    <div class="header-dropdown switcher">-->
                                <!--                        <a href="#">USD</a>-->
                                <!--                        <div class="header-menu">-->
                                <!--                            <ul>-->
                                <!--                                <li><a href="#">EUR</a></li>-->
                                <!--                                <li><a href="#">USD</a></li>-->
                                <!--                            </ul>-->
                                <!--                        </div>-->
                                <!--                    </div>-->
                                <!-- End .header-menu -->
                                <!-- End .header-dropown -->

                                <!--                    <div class="header-dropdown switcher">-->
                                <!--                        <a href="#">ENG</a>-->
                                <!--                        <div class="header-menu">-->
                                <!--                            <ul>-->
                                <!--                                <li><a href="#">ENG</a></li>-->
                                <!--                                <li><a href="#">FRE</a></li>-->
                                <!--                            </ul>-->
                                <!--                        </div>-->
                                <!--                        End .header-menu-->
                                <!--                    </div>-->
                                <!-- End .header-dropown -->
                            </div><!-- End .header-dropdowns -->
                        </div><!-- End .header-left -->

                        <div class="header-center">
                            <button class="mobile-menu-toggler d-lg-none mr-1 mr-md-3" type="button">
                                <i class="icon-menu"></i>
                            </button>

                            <a href="index.html" class="logo">
                                <img th:src="@{/images/logo.png}" alt="Linkup Logo">
                            </a>
                        </div><!-- End .headeer-center -->

                        <div class="header-right">
                            <div class="header-search header-search-inline header-icon">
                                <a href="#" class="search-toggle" role="button"><i class="icon-search-3"></i></a>
                                <form action="#" method="get">
                                    <div class="header-search-wrapper">
                                        <input type="search" class="form-control" name="q" id="q"
                                            placeholder="Axtarış..." required>
                                        <button class="btn icon-search-3" type="submit"></button>
                                    </div><!-- End .header-search-wrapper -->
                                </form>
                            </div><!-- End .header-search -->
                        </div><!-- End .header-right -->
                    </div><!-- End .container -->
                </div><!-- End .header-middle -->

                <div class="header-bottom sticky-header">
                    <div class="container">
                        <div class="header-left">
                            <nav class="main-nav">
                                <ul class="menu">
                                    <li>
                                        <a href="index.html">Ana Səhifə</a>
                                    </li>
                                    <li>
                                        <a href="category.html">Kateqoriyalar</a>
                                        <div class="megamenu megamenu-fixed-width megamenu-3cols">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <a href="#" class="nolink">VARIATION 1</a>
                                                    <ul class="submenu">
                                                        <li><a href="category.html">Fullwidth Banner</a></li>
                                                        <li><a href="category-banner-boxed-slider.html">Boxed Slider
                                                                Banner</a></li>
                                                        <li><a href="category-banner-boxed-image.html">Boxed Image
                                                                Banner</a></li>
                                                        <li><a href="category.html">Left Sidebar</a></li>
                                                        <li><a href="category-sidebar-right.html">Right Sidebar</a></li>
                                                        <li><a href="category-flex-grid.html">Product Flex Grid</a></li>
                                                        <li><a href="category-horizontal-filter1.html">Horizontal
                                                                Filter1</a></li>
                                                        <li><a href="category-horizontal-filter2.html">Horizontal
                                                                Filter2</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-4">
                                                    <a href="#" class="nolink">VARIATION 2</a>
                                                    <ul class="submenu">
                                                        <li><a href="category-list.html">List Types</a></li>
                                                        <li><a href="category-infinite-scroll.html">Ajax Infinite
                                                                Scroll</a></li>
                                                        <li><a href="category.html">3 Columns Products</a></li>
                                                        <li><a href="category-4col.html">4 Columns Products</a></li>
                                                        <li><a href="category-5col.html">5 Columns Products</a></li>
                                                        <li><a href="category-6col.html">6 Columns Products</a></li>
                                                        <li><a href="category-7col.html">7 Columns Products</a></li>
                                                        <li><a href="category-8col.html">8 Columns Products</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-4 p-0">
                                                    <img th:src="@{/images/menu-banner.jpg}"  alt="Menu banner">
                                                </div>
                                            </div>
                                        </div><!-- End .megamenu -->
                                    </li>
                                    <li>
                                        <a href="product.html">Məhsullarımız</a>
                                        <div class="megamenu megamenu-fixed-width">
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <a href="#" class="nolink">Variations 1</a>
                                                    <ul class="submenu">
                                                        <li><a href="product.html">Horizontal Thumbs</a></li>
                                                        <li><a href="product-full-width.html">Vertical Thumbnails</a>
                                                        </li>
                                                        <li><a href="product.html">Inner Zoom</a></li>
                                                        <li><a href="product-addcart-sticky.html">Addtocart Sticky</a>
                                                        </li>
                                                        <li><a href="product-sidebar-left.html">Accordion Tabs</a></li>
                                                    </ul>
                                                </div><!-- End .col-lg-4 -->
                                                <div class="col-lg-3">
                                                    <a href="#" class="nolink">Variations 2</a>
                                                    <ul class="submenu">
                                                        <li><a href="product-sticky-tab.html">Sticky Tabs</a></li>
                                                        <li><a href="product-simple.html">Simple Product</a></li>
                                                        <li><a href="product-sidebar-left.html">With Left Sidebar</a>
                                                        </li>
                                                    </ul>
                                                </div><!-- End .col-lg-4 -->
                                                <div class="col-lg-3">
                                                    <a href="#" class="nolink">Product Layout Types</a>
                                                    <ul class="submenu">
                                                        <li><a href="product.html">Default Layout</a></li>
                                                        <li><a href="product-extended-layout.html">Extended Layout</a>
                                                        </li>
                                                        <li><a href="product-full-width.html">Full Width Layout</a></li>
                                                        <li><a href="product-grid-layout.html">Grid Images Layout</a>
                                                        </li>
                                                        <li><a href="product-sticky-both.html">Sticky Both Side Info</a>
                                                        </li>
                                                        <li><a href="product-sticky-info.html">Sticky Right Side
                                                                Info</a></li>
                                                    </ul>
                                                </div><!-- End .col-lg-4 -->

                                                <div class="col-lg-3 p-0">
                                                    <img th:src="@{/images/menu-bg.png}" alt="Menu banner"
                                                        class="product-promo">
                                                </div><!-- End .col-lg-4 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .megamenu -->
                                    </li>
                                    <li>
                                        <a href="#">Keçidlər</a>
                                        <ul>
                                            <li><a href="cart.html">Səbət</a></li>
                                            <li><a href="#">Ödəmə</a>
                                                <ul>
                                                    <li><a href="checkout-shipping.html">Çatdırılma</a></li>
                                                    <li><a href="checkout-shipping-2.html">Çatdırılma2</a></li>
                                                    <li><a href="checkout-review.html">Baxış</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Dashboard</a>
                                                <ul>
                                                    <li><a href="dashboard.html">Dashboard</a></li>
                                                    <li><a href="my-account.html">Hesabım</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="about.html">Haqqımızda</a></li>
                                            <li><a href="#">Blog</a>
                                                <ul>
                                                    <li><a href="blog.html">Bloq</a></li>
                                                    <li><a href="single.html">Bloq Post</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="contact.html">Əlaqə</a></li>
                                            <li><a href="#" class="login-link">Giriş</a></li>
                                            <li><a href="forgot-password.html">Şifrəmi unutmuşam</a></li>
                                        </ul>
                                    </li>
                                    <!--                        <li><a href="https://1.envato.market/DdLk5" target="_blank">Buy Porto!</a></li>-->
                                </ul>
                            </nav>
                        </div><!-- .header-left -->

                        <div class="header-right">
                            <a href="#" class="header-icon"><i class="icon-wishlist-2"></i> 2</a>

                            <div class="dropdown cart-dropdown">
                                <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" data-display="static">
                                    <i class="icon-bag-2"></i>
                                    <span class="cart-count">2</span>
                                </a>

                                <div class="dropdown-menu">
                                    <div class="dropdownmenu-wrapper">
                                        <div class="dropdown-cart-header">
                                            <span>2 məhsul</span>

                                            <a href="cart.html" class="float-right">View Cart</a>
                                        </div><!-- End .dropdown-cart-header -->

                                        <div class="dropdown-cart-products">
                                            <div class="product">
                                                <div class="product-details">
                                                    <h4 class="product-title">
                                                        <a href="product.html">Qadın Üzük</a>
                                                    </h4>

                                                    <span class="cart-product-info">
                                                        <span class="cart-product-qty">1</span>
                                                        x ₼99.00
                                                    </span>
                                                </div><!-- End .product-details -->

                                                <figure class="product-image-container">
                                                    <a href="product.html" class="product-image">
                                                        <img th:src="@{/images/products/cart/product-1.jpg}"
                                                            alt="product" width="80" height="80">
                                                    </a>
                                                    <a href="#" class="btn-remove icon-cancel"
                                                        title="Sil"></a>
                                                </figure>
                                            </div><!-- End .product -->

                                            <div class="product">
                                                <div class="product-details">
                                                    <h4 class="product-title">
                                                        <a href="product.html">Qadın Boyunbağı</a>
                                                    </h4>

                                                    <span class="cart-product-info">
                                                        <span class="cart-product-qty">1</span>
                                                        x ₼35.00
                                                    </span>
                                                </div><!-- End .product-details -->

                                                <figure class="product-image-container">
                                                    <a href="product.html" class="product-image">
                                                        <img th:src="@{/images/products/cart/product-2.jpg}"
                                                            alt="product" width="80" height="80">
                                                    </a>
                                                    <a href="#" class="btn-remove icon-cancel"
                                                        title="Sil"></a>
                                                </figure>
                                            </div><!-- End .product -->
                                        </div><!-- End .cart-product -->

                                        <div class="dropdown-cart-total">
                                            <span>Ümumi</span>

                                            <span class="cart-total-price float-right">₼134.00</span>
                                        </div><!-- End .dropdown-cart-total -->

                                        <div class="dropdown-cart-action">
                                            <a href="checkout-shipping.html"
                                                class="btn btn-primary btn-block">Ödəmə</a>
                                        </div><!-- End .dropdown-cart-total -->
                                    </div><!-- End .dropdownmenu-wrapper -->
                                </div><!-- End .dropdown-menu -->
                            </div><!-- End .dropdown -->
                        </div><!-- End .header-right -->
                    </div><!-- End .container-->
                </div><!-- End .header-bottom -->
            </div>
        </header>
        <!-- End .header -->




        <!-- Main -->
        <main class="main">



            <div class="container">
                <div class="row m-6">
                    <div class="col-md-6 offset-md-3">

                        <h2 class="title mb-2 text-center">Giriş - İstifadəçi</h2>
                        <!--            <h6>İstifadəçilər üçün giriş.</h6>-->
                        <form method="post" class="mb-1">
                            <label for="login-email">Email <span class="required">*</span></label>
                            <input type="text" class="form-input form-wide mb-2" name="email" id="login-email">

                            <label for="login-password">Şifrə <span class="required">*</span></label>
                            <input type="password" class="form-input form-wide mb-2" id="login-password"
                                name="password">
                            <div class="form-footer">


                                <button type="submit" class="btn btn-primary btn-md">Daxİl ol</button>

                                <div class="custom-control custom-checkbox form-footer-right">
                                    <input type="checkbox" class="custom-control-input" id="lost-password">
                                    <!--                        <label class="custom-control-label form-footer-right" for="lost-password">Remember Me</label>-->
                                </div>
                            </div><!-- End .form-footer -->
                            <!--                <a href="#" class="forget-password">Forgot your password?</a>-->
                        </form>


                    </div>
                </div>
            </div>
            <!-- End .container -->






        </main>
        <!-- End .main -->






        <!-- Footer -->
        <footer class="footer font2">
            <div class="container">
                <div class="footer-middle">
                    <div class="row">
                        <div class="col-lg-5 m-b-4">
                            <img th:src="@{/images/logo.png}" alt="Logo" class="m-b-4">

                            <p>Axtardığınız məhsulun ünvanı</p>

                            <div class="row ls-0">
                                <div class="col-sm-6">
                                    <h6 class="text-uppercase mb-0">Sualınız var?</h6>
                                    <h3>contact@linkup.com</h3>
                                </div>
                                <div class="col-sm-6">
                                    <h6 class="text-uppercase mb-0">Ödəmə üsulları</h6>
                                    <img th:src="@{/images/payments.jpg}" alt="payment methods"
                                        class="footer-payments m-b-3">
                                </div>
                            </div>
                        </div><!-- End .col-lg-5 -->

                        <div class="col-lg-2 col-sm-4 m-b-4">
                            <div class="widget">
                                <h4 class="widget-title">Haqqımızda</h4>

                                <ul class="links">
                                    <li><a href="my-account.html">Biz kimik</a></li>
                                    <li><a href="#">Kariyera</a></li>
                                    <li><a href="#">Bizimlə əlaqə</a></li>
                                </ul>
                            </div><!-- End .widget -->
                        </div><!-- End .col-lg-2 -->

                        <div class="col-lg-2 col-sm-4 m-b-4">
                            <div class="widget">
                                <h4 class="widget-title">Bloqlar</h4>

                                <ul class="links">
                                    <li><a href="my-account.html">Linkup haqqında</a></li>
                                    <li><a href="#">Online mağazamızı necə uğurlu edə bilərik?</a></li>
                                    <li><a href="#">Online satışın müsbət tərəfləri</a></li>
                                    <li><a href="#">...</a></li>
                                    
                                </ul>
                            </div><!-- End .widget -->
                        </div><!-- End .col-lg-2 -->

                        <div class="col-lg-3 col-sm-4 m-b-4">
                            <div class="widget">
                                <h4 class="widget-title">Özəlliklər</h4>

                                <ul class="links">
                                    <li><a href="#">Ödənişsiz online platforma</a></li>
                                    <li><a href="#">Məhsul çeşitliliyi</a></li>
                                    <li><a href="#">Rahat istifadə</a></li>
                                    <li><a href="#">Qapıya çatdırılma xidməti</a></li>
                                    <li><a href="#">Zövqə uyğun tövsiyyələr</a></li>
                                </ul>
                            </div><!-- End .widget -->
                        </div><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .footer-middle -->

                <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
                    <p class="footer-copyright py-3 pr-4 mb-0">&copy; Linkup eCommerce. 2020. Bütün hüquqlar qorunur </p>

                    <div class="social-icons py-3">
                        <a href="#" class="social-icon social-facebook icon-facebook" target="_blank"
                            title="Facebook"></a>
                        <a href="#" class="social-icon social-twitter icon-twitter" target="_blank" title="Twitter"></a>
                        <a href="#" class="social-icon social-linkedin fab fa-linkedin-in" target="_blank"
                            title="Linkedin"></a>
                    </div><!-- End .social-icons -->
                </div><!-- End .footer-bottom -->
            </div>
            <!-- End .container -->
        </footer>
        <!-- End .footer -->


    </div><!-- End .page-wrapper -->





    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <!-- mobile-menu-container -->
    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-cancel"></i></span>
            <nav class="mobile-nav">
                <ul class="mobile-menu mb-3 border-0">
                    <li>
                        <a href="#">USD</a>
                        <ul>
                            <li><a href="#">EUR</a></li>
                            <li><a href="#">USD</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">ENG</a>
                        <ul>
                            <li><a href="#">ENG</a></li>
                            <li><a href="#">FRE</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="mobile-menu">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li>
                        <a href="category.html">Categories</a>
                        <ul>
                            <li><a href="category-banner-full-width.html">Full Width Banner</a></li>
                            <li><a href="category-banner-boxed-slider.html">Boxed Slider Banner</a></li>
                            <li><a href="category-banner-boxed-image.html">Boxed Image Banner</a></li>
                            <li><a href="category-sidebar-left.html">Left Sidebar</a></li>
                            <li><a href="category-sidebar-right.html">Right Sidebar</a></li>
                            <li><a href="category-flex-grid.html">Product Flex Grid</a></li>
                            <li><a href="category-horizontal-filter1.html">Horizontal Filter 1</a></li>
                            <li><a href="category-horizontal-filter2.html">Horizontal Filter 2</a></li>
                            <li><a href="#">List Types</a></li>
                            <li><a href="category-infinite-scroll.html">Ajax Infinite Scroll<span
                                        class="tip tip-new">New</span></a></li>
                            <li><a href="category.html">3 Columns Products</a></li>
                            <li><a href="category-4col.html">4 Columns Products</a></li>
                            <li><a href="category-5col.html">5 Columns Products</a></li>
                            <li><a href="category-6col.html">6 Columns Products</a></li>
                            <li><a href="category-7col.html">7 Columns Products</a></li>
                            <li><a href="category-8col.html">8 Columns Products</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="product.html">Products</a>
                        <ul>
                            <li>
                                <a href="#">Variations</a>
                                <ul>
                                    <li><a href="product.html">Horizontal Thumbs</a></li>
                                    <li><a href="product-full-width.html">Vertical Thumbnails<span
                                                class="tip tip-hot">Hot!</span></a></li>
                                    <li><a href="product.html">Inner Zoom</a></li>
                                    <li><a href="product-addcart-sticky.html">Addtocart Sticky</a></li>
                                    <li><a href="product-sidebar-left.html">Accordion Tabs</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Variations</a>
                                <ul>
                                    <li><a href="product-sticky-tab.html">Sticky Tabs</a></li>
                                    <li><a href="product-simple.html">Simple Product</a></li>
                                    <li><a href="product-sidebar-left.html">With Left Sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Product Layout Types</a>
                                <ul>
                                    <li><a href="product.html">Default Layout</a></li>
                                    <li><a href="product-extended-layout.html">Extended Layout</a></li>
                                    <li><a href="product-full-width.html">Full Width Layout</a></li>
                                    <li><a href="product-grid-layout.html">Grid Images Layout</a></li>
                                    <li><a href="product-sticky-both.html">Sticky Both Side Info<span
                                                class="tip tip-hot">Hot!</span></a></li>
                                    <li><a href="product-sticky-info.html">Sticky Right Side Info</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Pages<span class="tip tip-hot">Hot!</span></a>
                        <ul>
                            <li><a href="cart.html">Shopping Cart</a></li>
                            <li>
                                <a href="#">Checkout</a>
                                <ul>
                                    <li><a href="checkout-shipping.html">Checkout Shipping</a></li>
                                    <li><a href="checkout-shipping-2.html">Checkout Shipping 2</a></li>
                                    <li><a href="checkout-review.html">Checkout Review</a></li>
                                </ul>
                            </li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="#" class="login-link">Login</a></li>
                            <li><a href="forgot-password.html">Forgot Password</a></li>
                        </ul>
                    </li>
                    <li><a href="blog.html">Blog</a>
                        <ul>
                            <li><a href="single.html">Blog Post</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="#">Special Offer!<span class="tip tip-hot">Hot!</span></a></li>
                    <li><a href="https://1.envato.market/DdLk5" target="_blank">Buy Porto!</a></li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank"><i class="icon-facebook"></i></a>
                <a href="#" class="social-icon" target="_blank"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank"><i class="icon-instagram"></i></a>
            </div><!-- End .social-icons -->
        </div>
        <!-- End .mobile-menu-wrapper -->
    </div>
    <!-- End .mobile-menu-container -->

    <!-- End .newsletter-popup -->
    <div class="newsletter-popup mfp-hide" id="newsletter-popup-form"
        style="background: #f1f1f1 no-repeat center/cover url(static/images/newsletter_popup_bg.jpg)">
        <div class="newsletter-popup-content">
            <img th:src="@{/images/logo-black.png}" alt="Logo" class="logo-newsletter">
            <h2>BE THE FIRST TO KNOW</h2>
            <p>Subscribe to the Porto eCommerce newsletter to receive timely updates from your favorite products.</p>
            <form action="#">
                <div class="input-group">
                    <input type="email" class="form-control" id="newsletter-email" name="newsletter-email"
                        placeholder="Email address" required>
                    <input type="submit" class="btn" value="Go!">
                </div><!-- End .from-group -->
            </form>
            <div class="newsletter-subscribe">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="1">
                        Don't show this popup again
                    </label>
                </div>
            </div>
        </div>
        <!-- End .newsletter-popup-content -->
    </div>
    <!-- End .newsletter-popup -->

    <!-- Add Cart Modal -->
    <div class="modal fade" id="addCartModal" tabindex="-1" role="dialog" aria-labelledby="addCartModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body add-cart-box text-center">
                    <p>You've just added this product to the<br>cart:</p>
                    <h4 id="productTitle"></h4>
                    <img src="#" id="productImage" width="100" height="100" alt="adding cart image">
                    <div class="btn-actions">
                        <a href="cart.html"><button class="btn-primary">Go to cart page</button></a>
                        <a href="#"><button class="btn-primary" data-dismiss="modal">Continue</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Add Cart Modal -->

    <a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>

    <!-- Plugins JS File -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/optional/isotope.pkgd.min.js}"></script>
    <script th:src="@{/js/plugins.min.js}"></script>

    <!-- Main JS File -->
    <script th:src="@{/js/main.min.js}"></script>
</body>

</html>
