<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
		lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Porto - Bootstrap eCommerce Template</title>

	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="Porto - Bootstrap eCommerce Template">
	<meta name="author" content="SW-THEMES">

	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="/seller/images/icons/favicon.ico">

	<script type="text/javascript">
		WebFontConfig = {
			google: { families: ['Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700'] }
		};
		(function (d) {
			var wf = d.createElement('script'), s = d.scripts[0];
			wf.src = 'assets/js/webfont.js';
			wf.async = true;
			s.parentNode.insertBefore(wf, s);
		})(document);
	</script>

	<!-- Plugins CSS File -->
	<link rel="stylesheet" href="/seller/css/bootstrap.min.css">

	<!-- Main CSS File -->
	<link rel="stylesheet" href="/seller/css/style.min.css">
	<link rel="stylesheet" type="text/css" href="/seller/vendor/fontawesome-free/css/all.min.css">
</head>

<body>
	<div class="page-wrapper">

		<main class="main mt-5 p-3">
			<div class="container" th:object="${product}">
				<div class="product-single-container product-single-default">
					<div class="row p-3 rounded">
						<div class="col-md-5 product-single-gallery">
							<div class="product-slider-container">
								<div class="product-single-carousel owl-carousel owl-theme">
									<div class="product-item">
										<img class="product-single-image"
											th:src="${product.photo}"/>
									</div>
									<div class="product-item">
										<img class="product-single-image"
											src="assets/images/products/zoom/product-2.jpg"/>
									</div>
									<div class="product-item">
										<img class="product-single-image"
											src="assets/images/products/zoom/product-3.jpg"/>
									</div>
									<div class="product-item">
										<img class="product-single-image"
											src="assets/images/products/zoom/product-4.jpg"/>
									</div>
								</div>
								<!-- End .product-single-carousel -->
								<span class="prod-full-screen">
									<i class="icon-plus"></i>
								</span>
							</div>
							<div class="prod-thumbnail owl-dots" id='carousel-custom-dots'>
								<div class="owl-dot">
									<img th:src="${product.photo}" />
								</div>
								<div class="owl-dot">
									<img src="assets/images/products/zoom/product-2.jpg" />
								</div>
								<div class="owl-dot">
									<img src="assets/images/products/zoom/product-3.jpg" />
								</div>
								<div class="owl-dot">
									<img src="assets/images/products/zoom/product-4.jpg" />
								</div>
							</div>
						</div><!-- End .product-single-gallery -->

						<div class="col-md-7 product-single-details">
							<h1 class="product-title" th:text="${product.name}"></h1>

							<div class="ratings-container">
								<div class="product-ratings">
									<span class="ratings" style="width:60%"></span><!-- End .ratings -->
								</div><!-- End .product-ratings -->

<!--								<a href="#" class="rating-link">( 6 Reviews )</a>-->
							</div><!-- End .ratings-container -->

							<hr class="short-divider">

							<div class="price-box">
								<span class="product-price" th:text="${'₼' + product.price}"></span>
							</div><!-- End .price-box -->

							<div class="product-desc">
								<p th:text="${product.description}"></p>
							</div><!-- End .product-desc -->

							<div class="product-filters-container">
								<div class="product-single-filter mb-2">
									<label>Sizes:</label>
									<ul class="config-size-list">
										<li class="active"><a href="#">S</a></li>
										<li><a href="#">M</a></li>
										<li><a href="#">L</a></li>
										<li><a href="#">X</a></li>
									</ul>
								</div><!-- End .product-single-filter -->
							</div><!-- End .product-filters-container -->

							<hr class="divider mb-1">

							<div class="product-single-share">
								<label class="sr-only">Share:</label>

								<div class="social-icons mr-2">
									<a href="#" class="social-icon social-facebook icon-facebook" target="_blank"
										title="Facebook"></a>
									<a href="#" class="social-icon social-twitter icon-twitter" target="_blank"
										title="Twitter"></a>
									<a href="#" class="social-icon social-linkedin fab fa-linkedin-in" target="_blank"
										title="Linkedin"></a>
									<a href="#" class="social-icon social-gplus fab fa-google-plus-g" target="_blank"
										title="Google +"></a>
									<a href="#" class="social-icon social-mail icon-mail-alt" target="_blank"
										title="Mail"></a>
								</div><!-- End .social-icons -->

							</div><!-- End .product single-share -->
						</div><!-- End .product-single-details -->
					</div><!-- End .row -->
				</div><!-- End .product-single-container -->
<!-- End .products-section -->
			</div><!-- End .container -->
		</main><!-- End .main -->
	</div><!-- End .page-wrapper -->

	<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

	<div class="mobile-menu-container">
		<div class="mobile-menu-wrapper">
			<span class="mobile-menu-close"><i class="icon-cancel"></i></span>
			<nav class="mobile-nav">
				<ul class="mobile-menu mb-3 border-0">
					<li>
						<a href="#">USD</a>
						<ul>
							<li><a href="#">EUR</a></li>
							<li><a href="#">USD</a></li>
						</ul>
					</li>
					<li>
						<a href="#">ENG</a>
						<ul>
							<li><a href="#">ENG</a></li>
							<li><a href="#">FRE</a></li>
						</ul>
					</li>
				</ul>
				<ul class="mobile-menu">
					<li class="active"><a href="index.html">Home</a></li>
					<li>
						<a href="category.html">Categories</a>
						<ul>
							<li><a href="category-banner-full-width.html">Full Width Banner</a></li>
							<li><a href="category-banner-boxed-slider.html">Boxed Slider Banner</a></li>
							<li><a href="category-banner-boxed-image.html">Boxed Image Banner</a></li>
							<li><a href="category-sidebar-left.html">Left Sidebar</a></li>
							<li><a href="category-sidebar-right.html">Right Sidebar</a></li>
							<li><a href="category-flex-grid.html">Product Flex Grid</a></li>
							<li><a href="category-horizontal-filter1.html">Horizontal Filter 1</a></li>
							<li><a href="category-horizontal-filter2.html">Horizontal Filter 2</a></li>
							<li><a href="#">List Types</a></li>
							<li><a href="category-infinite-scroll.html">Ajax Infinite Scroll<span
										class="tip tip-new">New</span></a></li>
							<li><a href="category.html">3 Columns Products</a></li>
							<li><a href="category-4col.html">4 Columns Products</a></li>
							<li><a href="category-5col.html">5 Columns Products</a></li>
							<li><a href="category-6col.html">6 Columns Products</a></li>
							<li><a href="category-7col.html">7 Columns Products</a></li>
							<li><a href="category-8col.html">8 Columns Products</a></li>
						</ul>
					</li>
					<li>
						<a href="product.html">Products</a>
						<ul>
							<li>
								<a href="#">Variations</a>
								<ul>
									<li><a href="product.html">Horizontal Thumbs</a></li>
									<li><a href="product-full-width.html">Vertical Thumbnails<span
												class="tip tip-hot">Hot!</span></a></li>
									<li><a href="product.html">Inner Zoom</a></li>
									<li><a href="product-addcart-sticky.html">Addtocart Sticky</a></li>
									<li><a href="product-sidebar-left.html">Accordion Tabs</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Variations</a>
								<ul>
									<li><a href="product-sticky-tab.html">Sticky Tabs</a></li>
									<li><a href="product-simple.html">Simple Product</a></li>
									<li><a href="product-sidebar-left.html">With Left Sidebar</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Product Layout Types</a>
								<ul>
									<li><a href="product.html">Default Layout</a></li>
									<li><a href="product-extended-layout.html">Extended Layout</a></li>
									<li><a href="product-full-width.html">Full Width Layout</a></li>
									<li><a href="product-grid-layout.html">Grid Images Layout</a></li>
									<li><a href="product-sticky-both.html">Sticky Both Side Info<span
												class="tip tip-hot">Hot!</span></a></li>
									<li><a href="product-sticky-info.html">Sticky Right Side Info</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Pages<span class="tip tip-hot">Hot!</span></a>
						<ul>
							<li><a href="cart.html">Shopping Cart</a></li>
							<li>
								<a href="#">Checkout</a>
								<ul>
									<li><a href="checkout-shipping.html">Checkout Shipping</a></li>
									<li><a href="checkout-shipping-2.html">Checkout Shipping 2</a></li>
									<li><a href="checkout-review.html">Checkout Review</a></li>
								</ul>
							</li>
							<li><a href="about.html">About</a></li>
							<li><a href="#" class="login-link">Login</a></li>
							<li><a href="forgot-password.html">Forgot Password</a></li>
						</ul>
					</li>
					<li><a href="blog.html">Blog</a>
						<ul>
							<li><a href="single.html">Blog Post</a></li>
						</ul>
					</li>
					<li><a href="contact.html">Contact Us</a></li>
					<li><a href="#">Special Offer!<span class="tip tip-hot">Hot!</span></a></li>
					<li><a href="https://1.envato.market/DdLk5" target="_blank">Buy Porto!</a></li>
				</ul>
			</nav><!-- End .mobile-nav -->

			<div class="social-icons">
				<a href="#" class="social-icon" target="_blank"><i class="icon-facebook"></i></a>
				<a href="#" class="social-icon" target="_blank"><i class="icon-twitter"></i></a>
				<a href="#" class="social-icon" target="_blank"><i class="icon-instagram"></i></a>
			</div><!-- End .social-icons -->
		</div><!-- End .mobile-menu-wrapper -->
	</div><!-- End .mobile-menu-container -->
	<!-- Add Cart Modal -->
	<div class="modal fade" id="addCartModal" tabindex="-1" role="dialog" aria-labelledby="addCartModal"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body add-cart-box text-center">
					<p>You've just added this product to the<br>cart:</p>
					<h4 id="productTitle"></h4>
					<img src="#" id="productImage" width="100" height="100" alt="adding cart image">
					<div class="btn-actions">
						<a href="cart.html"><button class="btn-primary">Go to cart page</button></a>
						<a href="#"><button class="btn-primary" data-dismiss="modal">Continue</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>

	<!-- Plugins JS File -->
	<script src="/seller/js/jquery.min.js"></script>
	<script src="/seller/js/bootstrap.bundle.min.js"></script>
	<script src="/seller/js/plugins.min.js"></script>

	<!-- Main JS File -->
	<script src="/seller/js/main.min.js"></script>
</body>

</html>